# <%= name %>

## Development

To run this project locally, open a terminal, navigate to the project's directory and execute:

```sh
npm run dev
```

This will start a server that runs at [http://localhost:3000/<%= name %>](http://localhost:3000/<%= name %>)

For detailed explanation on how things work, check out the [Nuxt.js docs](https://github.com/nuxt/nuxt.js).
